body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
}

.logo{
    width: 320px;
    margin-top: -40px;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    background-color: #BCBCF0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    display: block;
    padding: 15px;
    background-color: #BFE4EC;
}

.flex{
    min-width: 100vh;
    background-color: #BFE4EC;
    display: flex;
    flex-direction: column;
}

.imagem {
    height: auto;
}

body{
    background-color: #BFE4EC;
}

.item{
    display: flex;
    align-items: flex-start;
    border: 2px solid black;
    margin: 10px;
}

.paragrafo {
    padding: 10px;
    text-align: justify;
}
